<h1>Cadastre seu livro</h1>

<form action="/books/insertbook" method="post">
    <div class="form-control">
        <label for="title">Título: </label>
        <input type="text" name="title" placeholder="Digite o titulo">
    </div>

    <div class="form-control">
        <label for="pageqty">Número de paginas: </label>
        <input type="number" name="pageqty" placeholder="Quantas páginas o livro tem?">
    </div>
    <div class="btn-control">
    <input type="submit" value="Cadastrar" class="btn">
    </div>
</form>