*{
    font-family: helvetica;
    margin: 0;
}

h1, .p{
    text-align: center;
    margin-top: 20px;
}

.p{margin: 5px;}

form{
    width: 450px;
    margin: 0 auto;
}

.form-control{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
    margin: 5px 10px;
}


.form-control label{
    font-weight: bold;
    margin-bottom: 0.3em;
}

.form-checkbox{
    flex-direction: row;
}

.form-checkbox input{
    margin-right: 10px;
}

.form-control input{
    padding: 5px;
    border-radius: 5px;
}



.btn , .btn-create{
    color: red;
    background-color: transparent;
    border-radius: 10px;
    transition: .6s;
    font-weight: bold;
    border: none;
    text-decoration: none;
}

.btn-create{
    width: 100%;
    justify-content: center;
    font-size: 15px;
}

.btn:hover, .btn-create:hover{
    background-color: red;
    color: white;
    width: 100%;
    padding: 10px;
}

.bold{
    font-weight: bold;
}

#link{
    text-decoration: none;
    color: black;
}

header{
    border-bottom: 1px solid #ccc;
    padding: 1em;
    margin-bottom: 1em;
}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    margin-right: 2em;
}

.container .itens{
    font-weight: bold;
    width: 235px;
    margin: 10px;
    padding: 1.5em;
    border: 1px solid #ccc;
}

.container{ 
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
}

.action{
    display: flex;
    justify-content:center;
    text-align: center;
    flex-direction: column;
}

.action a {
    margin: 10px auto;
    background-color: red;
    color: white;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

#remove{
    display: flex;
    color: red;
    border: none;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    align-items: center;
    width: 52%;
    font-size: 18px;
    cursor: pointer;
}