*{
    font-family: helvetica;
    margin: 0;
}

h1{
    text-align: center;
}

form{
    width: 450px;
    margin: 0 auto;
}

.form-control{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
}


.form-control label{
    font-weight: bold;
    margin-bottom: 0.3em;
}

.form-control input{
    padding: 5px;
    border-radius: 5px;
}
.btn-control{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
#btn{
    color: red;
    background-color: transparent;
    border-radius: 15px;
    transition: .6s;
    font-weight: bold;
    border: none;
}

#btn:hover{
    background-color: red;
    color: white;
    width: 100%;
    padding: 10px;
}

.books-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.books-container div{
    border-bottom: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
    width: 500px;
}

.bold{
    font-weight: bold;
}

.container{
    text-align: center;
}

#link{
    text-decoration: none;
    color: black;
}

header{
    border-bottom: 1px solid #ccc;
    padding: 1em;
    margin-bottom: 1em;
}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    margin-right: 2em;
}

header ul li a{
    text-decoration: none;
    font-weight: bold;
    color: red;
    border-radius: 5px;
    transition: .5s;
}

header ul li a:hover{
    background-color: red;
    padding: 10px 15px;
    color: white;
}