*{
    margin: 0;
    padding: 0;
    font-family: helvetica;
}

header{
    padding: 1em;
    background: transparent;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 3px 3px #ccc;
    border-radius: 0px 0px 30px 30px;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul{
    display: flex;
    list-style: none;
}

header nav ul li{
    margin-left: 15px;
    padding: 10px;
    border-radius: 10px;
    transition: .5s;
}

header nav ul li a{
    text-decoration: none;
    font-weight: bold;
    color: rgba(255, 0, 0, 0.849);
    text-decoration: none;
    padding: 12px;
    transition: .5s;
}

header nav ul li a:hover{
    color: rgb(255, 0, 0);
    text-shadow: 0px 0px 3px red;
}

.container{
    display: flex;
    margin: 2em auto;
    flex-direction: column;
    width: 80%;
}

.container h1{
    color: red;
    text-shadow: 0px 0px 2px red;
    margin-bottom: 1em;
    padding: 10px;
    border-left: 5px solid red;
}

.container label{
    margin: 1em;
    font-weight: bold;
    color: red;
    font-size: 18px;
}

.container input[type ='text'], .container textarea{
    border: none;
    border-bottom: 1px solid red;
    border-radius: 5px;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    padding: 10px;
}

.container input[type='submit']{
    width: 80%;
    background-color: transparent;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid red;
    margin: 10px 20px;
    color: red;
    font-weight: bold;
    font-size: 16px;
    transition: .5s;
    cursor: pointer;
}

.container input[type='submit']:hover{
    background-color: red;
    color: white;
}
