*{
    font-family: helvetica;
}

h1{
    text-align: center;
}

form{
    width: 450px;
    margin: 0 auto;
}

.form-control{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
}


.form-control label{
    font-weight: bold;
    margin-bottom: 0.3em;
}

.form-control input{
    padding: 5px;
    border-radius: 5px;
}

#btn{
    color: red;
    border: 1px solid red;
    background-color: transparent;
    width: 100%;
    height: 30px;
    border-radius: 15px;
    transition: .6s;
    font-weight: bold;
}

#btn:hover{
    background-color: red;
    color: white;
}

.books-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.books-container div{
    border-bottom: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
    width: 500px;
}

.bold{
    font-weight: bold;
}