<h1>Olá HandleBars</h1>

{{#if approved}}
<p>Parabéns, o seu cadastro foi aprovado</p>
{{else}}
<p>O seu cadastro necessita de aprovação para ter acesso total!</p>
{{/if}}

<p>O nome do usuario é {{user.name}} {{user.surname}} e ele tem {{user.age}} anos!</p>

{{#if auth}}
    <p>Você está autenticado, <a href="/dashboard">Click aqui</a> para acessar a area de membros</p>
{{/if}}