<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/style.css">
    <title>MVC</title>
</head>
<body>
    <header>
        <h2>Node Todo</h2>
        <nav id="navbar">
            <ul>
                <li><a href="/tasks" class="btn">Ver todos</a></li>
                <li><a href="/tasks/add" class="btn">Criar</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
        {{{body}}}
        </div>
    </main>
</body>
</html>